/* Change Habits Starts */
.change-habits h1 {
  margin-bottom: 14px;
}
.chp {
  margin-top: 14px;
}
.habits-card-container {
  padding-top: 56px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}
.habit-card img {
  width: 50%;
  border: 4px solid var(--c-gray);
  border-radius: 50%;
  aspect-ratio: 1;
}
.habit-card h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 30px auto 6px auto;
}
.habit-card p {
  width: 70%;
  margin: 0 auto;
}
/* Change Habits Ends */

/* Media Query */
@media screen and (min-width: 576px) {
  /* Change Habits Starts */
  .habits-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .chp {
    width: 60%;
    margin: 14px auto 0 auto;
  }
  /* Change Habits Ends */
}

@media screen and (min-width: 992px) {
  /* Change Habits Starts */
  .habits-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .chp {
    width: 50%;
  }
  /* Change Habits Ends */
}
